@model PrivateInvestigationTechnology.Models.Caso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Caso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadenaCustodia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadenaCustodia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigacionExtorsion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigacionExtorsion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstudiosSeguridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstudiosSeguridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigacionInfidelidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigacionInfidelidades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigacionRobosEmpresariales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigacionRobosEmpresariales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antecedentes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antecedentes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecuperacionVehiculos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecuperacionVehiculos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDetectiveNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDetectiveNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
