@model IEnumerable<_17.PrivateInvestigationTechnology_PTC.Models.Detective>

@{
    ViewData["Title"] = "Lista de Detectives";
}

<h2>Lista de Detectives</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Número de Identidad</th>
            <th>Número de Celular</th>
            <th>Fecha de Nacimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detective in Model)
        {
            <tr>
                <td>@detective.Nombre</td>
                <td>@detective.NumeroIdentidad</td>
                <td>@detective.NumeroCelular</td>
                <td>@detective.FechaNacimiento?.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@detective.Id" class="btn btn-info">Detalles</a>
                    <a asp-action="Edit" asp-route-id="@detective.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@detective.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
